@import '../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';


// frontend
// products
.front-products-item {
  padding: 20px;
  border: 1px solid #dddddd;
  margin: 20px;
}

.form-group {
  label {
    line-height:    34px;
    margin-bottom:  0;
  }
}